
.pageWrapper {
    display: block;
    padding: 10%;

    text-align: left;
    margin: auto auto;
}

.sectionWrapper {
    margin: 0 auto;
}

.titleContainer {
    width: 100%;
    
}

.titleContainer h1 {
    margin: 7% 0%;
}

.titleContainer span {
    color: red;
}

@media (min-width: 1200px) {
    .pageWrapper {
        width: 100%;
        padding: 5% 20%;
    }
}