.clientContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    height: 100%;
   
 }

 .title {
     margin: 12% auto;
 }

 @media (max-width: 414px) {
     .title {
         margin: 35% auto;
     }

     .client {
        width: 80%;
        
    }
 }

 @media (min-width: 414px) {
     .client {
         width: 60%;
     }
}
    

 @media (min-width: 1280px) {
     .client {
         width: 40%;
     }
 }

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    height: 100%;
    border: 2px solid var(--secondary-color--accent);
    box-shadow: var(--main-box-shadow);
}

.clientImage {
    object-fit: cover;
}

.clientImageContainer {
    background-color: rgba(58, 52, 52, 0.565);
}

.clientContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 52, 52, 0.565);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.clientContent {
    color: white;
    padding: 4%;
}

.clientContent h3 {
    text-align: center;
}

@media (min-width: 1205px ) {
    .clientImage {
       
    }
}