

.aboutWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: auto auto;
    padding: 2% 5%;
}

.servicesWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin: auto auto;
    padding: 2% 0%;
}


.titleContainer {
    margin: 7% 0%;
}




.titleContainer span {
    color: var(--secondary-color--accent);
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: auto auto;
    gap: 5%;
    flex-direction: column;
}

.imageContainer Image {
    margin: 5% auto;
}

@media (min-width: 418px) {
    .mobileHero {
        display: none;
    }
}

@media (max-width: 418px) {
    .heroImage {
        display: none;
    }
}

@media (min-width: 418px) {
    .heroImage {
        display: block ;
    }

    .imageContainer  {
        display: flex;
    }
}

@media (min-width: 600px) and (max-width: 1280px) {
    .imageContainer {
        width: 70%;
    }
}

@media (max-width: 600px ) {
    .titleContainer h1 {
        font-size: var(--font-size-sm);
    }

    .image {
        width: 25px;
        height: 25px;
    }

   
    
}

@media (min-width: 1280px) {
    .imageContainer {
        flex-direction: row;
    }

    .aboutWrapper {
        padding: 0;
        margin: 0;
    }
}







/* Services */ 

.servicesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20% auto;
    gap: 2%;
    flex-direction: column;
}

.service h2 {
    color: white;
    text-align: center;
    
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 15% auto;
    padding: 2% 5%;
    gap: 2%;
    flex-direction: column;
    background-color: rgba(58, 52, 52, 0.565);   
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(255, 6, 6, 0.5);    
}

.services {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}



@media (max-width: 600px) {
    .services {
        display: block;
        margin: auto 10%;
    }
}

@media (min-width: 900px) {
    .services {
        margin: auto 15%;
        grid-gap: 40px;
    }
}



@media (min-width: 1400px) {
    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 30px;
        margin: 10% 0%;
      
    }
}



