

.aboutWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: auto auto;
    padding: 2% 5%;
}

.servicesWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: auto auto;
    padding: 2% 5%;
}




.titleContainer span {
    color: var(--secondary-color--accent);
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto auto;
    gap: 2%;
}
